.menu {
  position: sticky;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #de9921;
  padding: 0 7rem;
  z-index: 1000;

  .signOutBtn {
    width: 13rem;
    height: 8rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border: 4px solid #de9921;
    background-color: #ffc929;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      background-color: #ffdd86;
      border: 4px solid #ffdd86;
    }
    cursor: pointer;
  }
}
