@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap");

/*global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

html {
  font-size: 62.5%;
  font-family: "Cinzel", serif;
}
